<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/nav_bar.css">

</head>
<body>

<ul class="topnav">
  <li><a href="/index">Home</a></li>
  <li><a href="/mantenerEmpleados">Empleados</a></li>
  <li><a href="/mantenerProductos">Productos</a></li>
  <li><a href="/mantenerProveedor">Proveedores</a></li>
  <li><a href="/reporteEmpleado">Empleado mejor pagado</a></li>
  <li class="right"><a class="active" href="/about">About</a></li>
</ul>

<div style="padding:0 16px;">
  <h2>Laboratorio 2, Administración de Bases de Datos - IF5100</h2>
  <p> Desarrollado por Jose Coto Víquez y Fabricio Salazar Mayorga </p>
  <p> Para la Universidad de Costa Rica, el 22 de abril del 2017 </p>
</div>

</body>
</html>