<!DOCTYPE html>
<html>
<title>JOFRASA</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/nav_bar.css">
</head>
<body>

<ul class="topnav">
  <li><a class="active" href="/index">Home</a></li>
  <li><a href="/mantenerEmpleados">Empleados</a></li>
  <li><a href="/mantenerProductos">Productos</a></li>
  <li><a href="/mantenerProveedor">Proveedores</a></li>
  <li><a href="/reporteEmpleado">Empleado mejor pagado</a></li>
  <li class="right"><a href="/about">About</a></li>
</ul>

<div style="padding:0 16px;">
  <h2>Bienvenido al panel administrativo de JOFRA S.A.</h2>
  <p>Seleccione la opción del menú que se asocie con la acción que desea realizar.</p>
</div>

</body>
</html>