<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Modificar proveedor</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="all"
	href="css/bootstrap-glyphicons.css"></link>
<link rel="stylesheet" type="text/css" media="all" href="css/styles.css"></link>
</head>
<body>
	<div class="container"> 
		<h1>Proveedor</h1>
	
		<form th:object="${proveedorForm}" action="#" th:action="@{/modificarProveedor/salvar}" method="post">
			
			<input type="hidden" th:field="*{codProveedor}">
			
			<div class="form-group">
				<label>Nombre: </label> 
				<input type="text" th:field="*{nombre}" class="form-control">
				<div style="clear: both; display: block; heigth: 10px;"></div>
				<div th:if="${#fields.hasErrors('nombre')}" class="alert alert-danger"> ERROR </div>
			</div>
		
			<div class="form-group">
				<label>Telefono: </label> 
				<input type="text" th:field="*{telefono}" class="form-control">
				<div style="clear: both; display: block; heigth: 10px;"></div>
				<div th:if="${#fields.hasErrors('telefono')}" class="alert alert-danger"> ERROR </div>
			</div>

			<button type="submit" class="btn btn-default" name="Insertar">Salvar</button>
		
		</form>
	</div>

</body>
</html>